@CHARSET "UTF-8";


html {
	position: relative;
	min-height: 100%;
}


body {
	margin-top: 70px;
	margin-bottom: 70px;
}


/****************************************************************

							Navigator

*****************************************************************/
 
 /* Bootstrap Overriding */
.navbar-inverse {
	background-color: rgb(90,215,133);
	border:0;
}

.navbar-inverse .navbar-brand {
	color: #ffffff;
}

.navbar-inverse .navbar-nav>li>a {
	color: #ffffff;
}

.navbar-inverse .navbar-nav>li>a:hover {
	color: #000000;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
	border-color: #ffffff;
}

.navbar-toggle {
	background-color: #ffffff;
}

.navbar-inverse .navbar-toggle .icon-bar {
	background-color: #000;
}

.navbar-inverse .navbar-toggle {
	border: 0;
}

.navbar-brand {
	padding: 7px 7px;
}

@media (max-width: 767px) {
   .navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
		max-height: none;
		text-align: center;
	}
}

.form-horizontal .control-label {
	text-align: left;
}

.navbar .popover {
	width:270px;
}

.popover form {
	margin-bottom: 0em;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
	background-color: #fff;
	font-weight: bold;
	color: #080808;
}


/* Custom */

.btn-white{
	border-color: #ffffff;
}

.btn-white:hover{
	/* border-color: #ffffff; */
}

.login-modal-dialog {
	max-width: 300px;
}

.label-left {
	text-align: left;
}

.label-small {
	font-size: 0.9em;
}




/****************************************************************

							Content

*****************************************************************/

.empty-content {
	margin-bottom: 50px;
}

.text-right {
	text-align: right;
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
	
}

.padding-zero {
	padding: 0;
}

.ellipse {
	width: 100%;
	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
}

/****************************************************************

							Footer

*****************************************************************/
 
 .footer {
  	position: absolute;
	bottom: 0;
	width: 100%;
	min-height:5px;
	padding: 20px;
 	background-color: #000000;
 	text-align: center;
}