@CHARSET "UTF-8";
th{
	background-color: rgb(230,230,230);
	color: rgb(255,255,255);
	height: 50;
}
table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
border: 6px solid rgb(230,230,230);
}
.table {
width: 95%;
max-width: 95%;
margin-bottom: 20px;
}

.pagination {
display: inline-block;
padding-left:250px;
margin: 20px 0;
border-radius: 4px;
}



