@CHARSET "UTF-8";


.post-info .title, .post-context .title, .post-comments .title {
	margin-top: 1px;
	margin-bottom: 5px;
}

.post-info p {
	color: #c1c1c1;
	font-size: 0.9em;
}

.post-info .date {
	margin-left: 5px;
	margin-right: 20px;
}

.post-info .writer {
	color: #6e6e6e;
	font-weight: bold;
}

.post-info .post-edit-btn{
	margin-left: 3px;
	margin-right: 3px;
	color: gray;
}

.post-info .good.active .count {
	color: rgb(245, 110, 110);
}

@media (max-width: 767px){
	.post-photo-content .photo-view .photo-previewer {
		height: 280px;
	}
}
@media (min-width: 768px){
	.post-photo-content .photo-view .photo-previewer {
		height: 440px;
	}
}
@media (min-width: 992px){
	.post-photo-content .photo-view .photo-previewer {
		height: 330px;
	}
}
@media (min-width: 1200px){
	.post-photo-content .photo-view .photo-previewer {
		height: 400px;
	}
	
}

.post-photo-content .photo-view .photo-previewer{
	width: 100%;
	padding: 3px;
	background-color:#d4d3d5;
	text-align: center;
}

.post-photo-content .photo-view .photo-previewer img {
    margin: 0 auto;
    max-width:100% !important;
    max-height:100% !important;
    display:block;
}

.post-photo-content .photo-thumbnails {
	width: 100%;
	margin-top: 10px;
	overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.post-photo-content .photo-thumbnails .photo-thumbnail {
	width: 80px;
	height: 80px;
	display: inline-block;
}

.post-context .context{
	padding: 5px;
	min-height: 100px;
}

.post-comments form,
.post-comments .comments {
	padding: 5px;
}





/* bootstrap overriding */


.carousel-indicators {
	position: relative;
	bottom: 0px;
	left: 0;
	z-index: 15;
	padding-left: 0;
	margin-left: 0;
	text-align: left;
	list-style: none;
}

.carousel-control {
	left: 0;
	width: 15%;
	font-size: 13px;
	text-shadow: none;
	filter: none;
	opacity: .5;
}

.carousel-control.left {
	top: -87px;
	background-image: none;
	background-image: none;
	background-image: none;
	background-image: none;
	filter: none;
	background-repeat: no-repeat;
}

.carousel-control.right {
	top: -87px;
	background-image: none;
	background-image: none;
	background-image: none;
	background-image: none;
	filter: none;
	background-repeat: no-repeat;
}

.carousel-indicators li {
	display: inline-block;
	width: 80px;
	height: 80px;
	margin: 1px;
	text-indent: 0;
	background-color: inherit;
	background-color: inherit;
	border: 0;
	border-radius: 0px;
	display: inline-block;
}

.carousel-indicators .active {
	width: 80px;
	height: 80px;
	margin: 1px;
	border: 2px solid #ff6332;
	background-color: inherit;
}

/* .form-control-feedback {
	top: 20px;
	color: red;
} */



.comment-list {
	padding: 5px;
}

.comment-list .panel {
	margin-bottom: 16px;
}

.comment-list .panel-default {
	border-color: #ebeaec;
}

.comment-list .panel-footer {
	background-color: #fff;
	border-top: none;
	padding-top: 5px;
}

.comment-list .info {
	font-size: 0.8em;
	margin: 0px;
	color: #c1c1c1;
}

.comment-list .comment-writer {
	font-weight: bold;
	color: #6e6e6e;
}

.comment-list .comment-date {
	margin-right: 15px;
}

.comment-list .comment-edit {
	color: #000;
}

.comment-list .comment-delete {
	color: #ff0000;
}